.localizacao{
   padding: 80px 20px 0 20px;
}

.localizacao-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 60px;
}

.localizacao-img{
   position: relative;
}

.tooltip-active{
   position: absolute;
   background-color: rgba(0, 0, 0, .6);
   color: white;
   padding: 10px;
   box-shadow: 0 0 0 2px #62A87C, 0 0 0 4px rgba(0,0,0,.6);
   border-radius: 4px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 0.85rem;
}

.localizacao-img img{
   height: 100%;
}

.localizacao h2{
   margin-bottom: 20px;
   text-align: center;
}

.localizacao-texto p{
   font-size: 1.1rem;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 30px;
}

.localizacao-texto ul{
   display: flex;
   flex-direction: column;
   gap: 25px;
}

.localizacao-texto ul li{
   font-weight: 600;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-size: 1rem;
   font-family: 'Raleway', sans-serif;
}

.localizacao-texto ul li::after{
   width: 4px;
   height: 4px;
   content: '';
   display: flex;
   background-color: #62A87C;
   border-radius: 100%;
}

@media(max-width:800px){
   .localizacao{
      padding-top: 40px;
   }
   .localizacao-grid{
      grid-template-columns: 1fr;
      padding-top: 10px;
   }
   .localizacao-texto{
      order: -1;
   }
   .localizacao h2{
      text-align: left;
   }
   .localizacao-img{
      display: flex;
      justify-content: center;
   }
   .localizacao-grid{
      gap: 30px;
   }

}